footer {
    text-align: center;
    background: #550a63;
    padding: 0 0;
}

.logofooter {
    width: 100%;
}

.copyright {
    color: var(--cor-preto);
    font-size: 13px;
    margin: 10px 0 0;
}